nav {
    height: 40px;
    justify-content: space-between;
    font-family: 'BricolageGrotesque';
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    >img{
        height: 38.54px;
        width: 40px;
    }
}
