@import './../../styles.scss';

section{
    background-image: url('/assets/img/background_black.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: white;
    
}


.landing {
    margin-top: 115px !important;
    height: 490px;
    width: 80%;
    margin: auto;
    display: flex;
    @extend .position_center;
    position: relative;
}

.my_pic{
    position: absolute;
    top: 0;
    right: 0;
}

.polaroid{
    background-image: url("/assets/img/polaroid_frame.png");
    background-size: contain;
    width: 203.57px;
    height: 244px;
    rotate: 8deg;
    display: flex;
    justify-content: center;
    position: relative;
    >img {
        position: absolute;
        width: 87%;
        height: 188px;
        top: 10px
    }
}

