
section{
    background-image: url('/assets/img/background_black.png');
    height: 100vh;
    width: 100%;
    background-size: contain;
    color: white;
    
}


.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.polaroid{
    background-image: url("/assets/img/polaroid_frame.png");
    background-size: contain;
    width: 203.57px;
    height: 244px;
    rotate: 8deg;
    display: flex;
    justify-content: center;
    position: relative;
    >img {
        position: absolute;
        width: 87%;
        height: 188px;
        top: 10px
    }
}